*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: teal;
}

.app {
    width: 300px;    
    background-color: #F4F9FF;
    display: block;
    margin: 25px auto;
    box-shadow: 0px 10px 6px -6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding-bottom : 50px;
}

.title {
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

.title p {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 2em;
    color: #293251;
    user-select: none;
    font-family: 'Lobster', Helvetica, sans-serif;
}

.notifier {
    background-color: #f8d7da;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

.notifier p {
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-info {
    font-family: 'Noto Sans', sans-serif;
    width: 300px;
    height: 260px;
    background-color: #F4F9FF;
}

.weather-info__icon {
    width: 300px;
    height: 128px;
}

.weather-info__icon img {
    display: block;
    margin: 0 auto;
}

.weather-info__temperature {
    width: 300px;
    height:60px;
}

.weather-info__temperature p {
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.weather-info__temperature span {
    color: #293251;
    font-size: 0.5em;
}

.weather-info__description p {
    padding-top: 20px;
    margin: 5px;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
    text-transform: capitalize;
}

.weather-info__location p {
    padding: 5px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}



